@import "tailwindcss";

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  color: unset;
  text-decoration: none;
}

body {
  font-family: var(--font-base);
  background: var(--color-white);
  overflow-x: hidden;
}
