
:root{
    --color-white: #ffffff;
    --color-black : #000000;
    --color-navy: #161439;
    --color-dark-gray: #6D6C80;
    --color-light-gray: #f6f6f8;
    --color-golden-yellow: #ffc124;
    --color-light-gray: #F7F7F9;
    --color-text-gray: #6D6C80;
    --color-soft-gray:#EFEFF1;
    --color-dark-purple: #5751E1;
    --color-light-purple: #EFEEFE;
    --color-soft-indigo: #D9D9F3;
    --color-bg-light: #F7F7F9;
    --color-dark-blue : #06042E;
    --color-light-blue : #1C1A4A;
    --color-text-fot : #8C9AB4;
    --color-text2-fot : #B2BBCC;
    --color-blue-fot : #1C1B3C;
    --color-border-gray : #B5B5C380;



    --gradient-main: radial-gradient(
        circle at 20% 50%,
        rgba(189, 175, 255, 0.32),
        transparent 45%
      ),
      radial-gradient(
        circle at 80% 50%,
        rgba(255, 190, 255, 0.28),
        transparent 45%
      ),
      #ffffff;
      
    --font-base: 'Poppins', serif;
}

.dark {
  --color-white: #222020;
  --color-black: #ffffff;
  --color-navy: #818093;
  --color-dark-gray: #6d6c80;
  --color-light-gray: #070709;
  --color-light-blue: #c8c6eb;
  --color-golden-yellow: #db9d00;
}

