:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-navy: #161439;
  --color-dark-gray: #6d6c80;
  --color-light-gray: #f6f6f8;
  --color-light-blue: #5751e1;
  --color-golden-yellow: #ffc124;

  --font-base: "Poppins", serif;
}

.dark {
  --color-white: #222020;
  --color-black: #ffffff;
  --color-navy: #818093;
  --color-dark-gray: #6d6c80;
  --color-light-gray: #070709;
  --color-light-blue: #c8c6eb;
  --color-golden-yellow: #db9d00;
}

